@font-face {
    font-family: "Din-regular";
    src: url("../fonts/din-next-lt-w23-regular.ttf");
}
@font-face {
    font-family: "Din-bold";
    src: url("../fonts/din-bold.ttf");
}
@font-face {
    font-family: "Din-light";
    src: url("../fonts/din-next-lt-w23-light.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
html{ overflow-y:scroll; min-width:1000px}
body{background-color:#F4F7FC;font-family:"Din-regular"; font-size:14px; line-height:1.5em}

h1, h2, h3, h4, h5, h6{   font-family: "Din-bold"; line-height:1em}

small{font-size:.833em}
em, i{font-style:italic}
strong, b{font-weight:bold}
code, pre{font-family:monospace}

a{text-decoration:none}
a:hover, a:focus{text-decoration:none}
a:hover, a:active{outline:none}

hr{background-color:#fff; border:1px solid #fff; border-top:1px solid #aaa; clear:both; margin:2em 0}
blockquote{padding:0.2em 1em 0.2em 2em; border-left:3px solid #eee}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    color:#3F3E43;
    padding: 17 23px;
    transition:all .5s;
}
.navbar-brand{
    margin-right:70px;
    width:90px;
    padding:0;
}
img{
    width:100%
}
.navbar-expand-lg{
    padding:7px;
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#48C2C9;
    transition:all .5s;
}
.languge{
    font-size:.95em;
    color:#48C2C9;
    border:1px solid #48C2C9;
    width:76px;
    height:27px;
    margin-left:auto;
    transition: all .5s;
    border-radius: 3px;;
}
.languge:hover{
    background-color: #48C2C9;
    color:#3F3E43;
    transition:  all .5s;
}
header{
    height: 62px;
    background-color: white;
}
.main{
    padding:50px 0 80px;
}
.welcomeBox{
    background-color: white;
    padding:20px 76px;
    margin-bottom:16px;
    border-radius: 7px;;
}
.welcomeImg{
    width:30%;
    margin-right:35px;
}
.welcomeText h1{
font-size:1.7em;
color:#48C2C9;
margin-bottom:9px ;
margin-top:30px;
}
.welcomeText{
    font-size:1em;
    width:65%;
}
.welcomeText p{
    margin:0;
    color:#3F3E43;
}
.welcomeText span{
    color:#A5A5A5;
}
.servicesBox{
    text-align: center;
    padding:50px 25px;
    background-color: white;
    border-radius: 7px;
    height: 396px;
    transition: all .5s;;
cursor: pointer;
}
.servicesBox:hover{
    box-shadow:  2px 2px 10px rgba(0,0,0,.2);
    transition: all .5s;;
}
.serviceImg{
    max-width:92px;
    margin:auto;
    margin-bottom: 37px;
    height:92px;
}
.serviceTitle{
    font-size:1.71em;
    margin-bottom:20px;
}
.firstService{
    color:#48C2C9;
}
.servicesBox p{
    font-size:1em;
    color:#3F3E43;
}
.secondService{
    color:#FFCD34;
}
.thirdService{
    color:#07485E;
}
.subscribe{
    background-color: rgba(72, 194, 201, .08);
    padding:17px 0;
}
.form-control{
    border-radius: 7px;
    height:35px;  
}
.subscribe .form-control::placeholder{
    font-size:.9em;
    color:#F3F3F4
}
.form-control{
    border:1px solid #EEEEEE;
}
.form-control:focus{
    box-shadow:none;
    border-color:#EEEEEE
}
.subscribeBtn{
    position: absolute;
    border-radius: 7px;
    border-radius: 7px;
    height:35px;
    right:0;
    top:0;
    background-color: #48C2C9;
    width:76px;
    border:1px solid #48C2C9;
    color:white;
    transition: all .5s;;
}
.subscribeBtn:hover{
transition: all .5s;;
background-color: transparent;
color:#48C2C9
}
.subscribeForm {
    width:80%;
    position: relative;
    margin: auto;
}
.subscribeText{
    display: flex;
    justify-content: center;
}
.subscribe p{
    color:#48C2C9;
    font-size:1.2em;
    margin:0;
    display: flex;
justify-content: center;
vertical-align: middle;
align-self: center;
}
footer{
    padding:50px 0;
    position: relative;
    overflow: hidden;
}
form ,.form-group{
    margin: 0;;
}
.footerLogo{
    width:108px;
}
.footerBG {
    position: absolute;
    bottom:-30%;
    left:0;
    width: 100%;
    height: 100%;
}
.footerList li {
    margin-bottom: 29px;

}
.footerList li span{
    color:#707070;
    font-size:1.1em;
}
.footerList li i{
    color:#707070;
    margin-right:12px;
  display: inline-block;
}
.footerList h1{
    font-size: 1.1em;
    color:#48C2C9;
    margin:0;
    margin-bottom: 20px;
}
.footerList.linksMenu li {
    width:48%;
    display: inline-block;
}
.footerList.linksMenu li a{
font-size:1.1em;
color:#3F3E43;
margin-bottom: 24px;
transition: all .5s;

}
.footerList.linksMenu li a:hover{
     font-family: "Din-bold"; 
     transition: all .5s;
}
.copyRight{
    background-color: #48C2C9;
    padding:14px 0;
}
.copyRight p{
    font-family: "Din-light";;
    font-size:.9em;
    color:rgba(255,255,255,.6);
}
.socialIcons{
    float: right;
}
.socialIcons li{
    list-style-type: none;
    display: inline-block;
margin-right:27px;
}
.socialIcons li a{
color:rgba(255,255,255,.6); ;
font-size: 1.1em;;
}
.socialIcons li a:hover{
    color:rgba(255,255,255,1); 
}
.modal-title {
    font-size:1.2em;
    width:100%
}
.modal-header{
    padding:15px;
    justify-content: center;
    margin-bottom: 14px;
}
.modal-content{
    padding: 11px;
}
.modal-body{
    padding:0;
    padding-bottom: 40px;;
}
.modalForm label{
    display: block;
    font-size: .9em;
    color:#3F3E43;
    margin-bottom:6px;
}
.modalForm .form-group{
    margin-bottom: 14px;
    position: relative;
}
.modalForm .form-control{
    height: 45px;
    color:#48C2C9;
    font-size:.9em;
    border-radius: 5px;;
}
.modalForm .creditGroup .form-control{
    padding-left:50px;

}
.modalForm .form-control::placeholder{
    font-size: .9em;
    color:#A3A3A3;;
}
.modalForm .form-group i{
    position: absolute;
    color:#A3A3A3;
    font-size: 1.5em;
    top: 38px;
    left: 17px;
}
.modalBtn{
    width:160px;
    margin:auto;
    margin-top:35px;
    height: 45px;
    display: block;
    color:white;
    font-size: 1.2em;
    border:1px solid #48C2C9;
    background-color: #48C2C9;
 transition: all .5s;;
}
.modalBtn:hover{
background-color: transparent;
color:#48C2C9;
transition: all .5s;;
}
.modalMiniFormgroup{
        width:30%;
        display: inline-block;
}
.marginformgroup{
    margin-right:16px;
}
.modalForm  select.form-control{
    color:#A3A3A3;
   
}
.modalForm  select.form-control:before{
    position: absolute;
    content:"\f0dd";
    font-family: "Font Awesome 5 Brands";
    color:#A3A3A3;
    right:0;
    bottom:50%;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
  
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    transition: all .5s;;
    animation:sticky;
}
.navbar-toggler{
    border-radius: 8px;
    width:50px;
    height:50px;
    position: relative;
    padding:10px;
    border:1px solid #48C2C9
}
.navbar-toggle i{
content:"";
background-color: #48C2C9;
display: block;
margin-bottom: 5px;
width:90%;
height: 3px;
}

@media (min-width:300px) and (max-width:800px){
    body{
        font-size:12px;
        overflow: hidden;
    }
    .modalMiniFormgroup{
        width:100%;
        display: block;
}
.servicesBox{
margin-bottom: 20px;;
}
.subscribe p{
    margin-bottom: 20px;;
}
.footerList{
    margin-top:20px;
}
.main{
    padding:50px 0
}
.navbar-collapse{
    background-color: white;
    z-index: 999;
}
.subscribeText{
    display: block;
}
.navbar-toggle{
    position: absolute;
    right:10%;
}
}