@font-face {
    font-family: "Din-regular";
    src: url("../fonts/din-next-lt-w23-regular.ttf");
}
@font-face {
    font-family: "Din-bold";
    src: url("../fonts/din-bold.ttf");
}
@font-face {
    font-family: "Din-light";
    src: url("../fonts/din-next-lt-w23-light.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

body{background-color:#F4F7FC;font-family:"Din-regular"; font-size:14px;}

h1, h2, h3, h4, h5, h6{   font-family: "Din-bold"; line-height:1em}


em, i{font-style:italic}
strong, b{font-weight:bold}


a{text-decoration:none}
a:hover, a:focus{text-decoration:none}
a:hover, a:active{outline:none}


.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    color:#3F3E43;
    padding: 17 23px;
    transition:all .5s;
}
.navbar-brand{
    margin-right:70px;
    width:90px;
    padding:0;
}
img{
    width:100%
}
.navbar-expand-lg{
    padding:7px;
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#48C2C9;
    transition:all .5s;
}
.languge{
    font-size:.95em;
    color:#48C2C9;
    border:1px solid #48C2C9;
    width:76px;
    height:27px;
    margin-left:auto;
    transition: all .5s;
    border-radius: 3px;
    line-height: 16px;
}
.languge:hover{
    background-color: #48C2C9;
    color:white;
    transition:  all .5s;
}
header{
    height: 62px;
    background-color: white;
}
.main{
    padding:50px 0 80px;
}

.subscribe{
    background-color: rgba(72, 194, 201, .08);
    padding:17px 0;
}
.form-control{
    border-radius: 7px;
    height:35px;  
}
.subscribe .form-control::placeholder{
    font-size:.9em;
    color:#F3F3F4
}
.form-control{
    border:1px solid #EEEEEE;
}
.form-control:focus{
    box-shadow:none;
    border-color:#EEEEEE
}
.subscribeBtn{
    position: absolute;
    border-radius: 7px;
    border-radius: 7px;
    height:35px;
    right:0;
    top:0;
    background-color: #48C2C9;
    width:76px;
    border:1px solid #48C2C9;
    color:white;
    transition: all .5s;;
}
.subscribeBtn:hover{
transition: all .5s;;
background-color: transparent;
color:#48C2C9
}
.subscribeForm {
    width:80%;
    position: relative;
    margin: auto;
}
.subscribeText{
    display: flex;
    justify-content: center;
}
.subscribe p{
    color:#48C2C9;
    font-size:1.2em;
    margin:0;
    display: flex;
justify-content: center;
vertical-align: middle;
align-self: center;
}
footer{
    padding:50px 0;
    position: relative;
    overflow: hidden;
}
form ,.form-group{
    margin: 0;;
}
.footerLogo{
    width:108px;
}
.footerBG {
    position: absolute;
    bottom:-30%;
    left:0;
    width: 100%;
    height: 100%;
}
.footerList li {
    margin-bottom: 29px;

}
.footerList li span{
    color:#707070;
    font-size:1.1em;
}
.footerList li i{
    color:#707070;
    margin-right:12px;
  display: inline-block;
}
.footerList h1{
    font-size: 1.1em;
    color:#48C2C9;
    margin:0;
    margin-bottom: 20px;
}
.footerList.linksMenu li {
    width:48%;
    display: inline-block;
}
.footerList.linksMenu li a{
font-size:1.1em;
color:#3F3E43;
margin-bottom: 24px;
transition: all .5s;

}
.footerList.linksMenu li a:hover{
     font-family: "Din-bold"; 
     transition: all .5s;
}
.copyRight{
    background-color: #48C2C9;
    padding:14px 0;
}
.copyRight p{
    font-family: "Din-light";;
    font-size:.9em;
    color:rgba(255,255,255,.6);
}
.socialIcons{
    float: right;
}
.socialIcons li{
    list-style-type: none;
    display: inline-block;
margin-right:27px;
}
.socialIcons li a{
color:rgba(255,255,255,.6); ;
font-size: 1.1em;;
}
.socialIcons li a:hover{
    color:rgba(255,255,255,1); 
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
  
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    transition: all .5s;;
    animation:sticky;
}
.navbar-toggler{
    border-radius: 3px;
    width: 35px;
    height: 27px;
    position: relative;
    padding:3px;
    border:1px solid #48C2C9
}
.navbar-toggle i{
content:"";
background-color: #48C2C9;
display: block;
margin:auto;
margin-bottom: 3px;
width:97%;
height: 2px;
}
.navbar-toggler-icon{
width:97%;
height:auto;
}
.navbar-toggle i:last-child{
    margin-bottom: 0;
}
/*Pricing Page*/
.TopPricingBox{
background-color:white;
border-radius: 7px;
padding:28px 90px;
margin-bottom: 50px;;
}
.pricingImg{
    width:290px;
}
.pricingText p{
    font-family: "Din-bold";  
}
.pricingBox{
    padding:19px 16px;
    border-radius: 7px;
    height:850px;
}
.pricingBox.whiteBG{
    background-color: white;;
     transition :all .3s;
}.pricingBox .check{
    color:#00B731;
    font-size:20px;
     transition :all .3s;
}
.pricingBox.whiteBG:hover{
    background-color: #48C2C9;
     transition :all .3s;
}
.pricingBox.whiteBG:hover .check{
    color:white;
     transition :all .3s;
}
.priceBtn{
    width:100%;
    height:34px;
    margin-top:65;
    border:1px solid #A5A5A5;
    color:#A5A5A5;
    font-size:.9em;
     transition :all .3s;
}
.pricingBox.whiteBG:hover .priceBtn{
    background-color:white;
    border-color:white;
    color:#3F3E43;
     transition :all .3s;
}
.pricingList li{
    border-bottom:1px solid #DBDBDB;
    padding:26px 0;
    height:73px
}
.pricingList li:last-child{
    border-bottom: 0;
}
.pricingBox.whiteBG:hover .pricingList li{
    color:white;
} 
.pricingList li:first-child{
    padding-top:0;
}
.pricingBox.whiteBG:hover .pricingList li{
    border-color:#69DAE1;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .titlePricingList h6{

    color:white;
}
.titlePricingList h6{
    color:#3F3E43;
    font-size:1.2em;
    margin-bottom:10px;
     transition :all .3s;
}
.titlePricingList  span{
color:#a5a5a5;
font-size:.8em;
 transition :all .3s;
}
.priceSction span{
font-size:1em;
color:#A5A5A5;
display: block;
margin-bottom: 5px;;
 transition :all .3s;
}
.pricingList li.priceSction{
    height:220px;
}
.priceSction h6{
    font-size:1.07em;
  color:#48C2C9;
  margin:5px 0
}
.pricingBox.whiteBG:hover  .priceSction span{
    color:white;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .priceSction h6{
    color:white;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .titlePricingList  span{
    color: white;
}
.pricingList li .titlePricingList{
    height:90px;
}
.pricingBox.titlePricingBox .priceSction{
    padding-top:60px
}
.pricingBox.titlePricingBox .priceSction,.pricingBox:first-child .titlePricingList {
    font-size: 1.2em;
    color:#A5A5A5;
}
.pricingBox.titlePricingBox  li{
    font-size: 1.2em;
    color:#3F3E43;
}
.dash{
    width:15px;
    height:3px;
    background-color: #A5A5A5;
    border-radius: 7px;
    border:0;
}
.pricingBox.whiteBG:hover .dash{
    background-color: white;;
}

@media (min-width:300px) and (max-width:800px){
    body{
        font-size:14px;
    }

.subscribe p{
    margin-bottom: 20px;;
}
.footerList{
    margin-top:20px;
}
.main{
    padding:50px 0
}
.navbar-collapse{
    background-color: white;
    z-index: 999;
}
.subscribeText{
    display: block;
}
.navbar-toggle{
    position: absolute;
    right:5%;
}
.navbar-collapse.collapse{
    background-color: rgba(255,255,255,.97);
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 999999999999;
    height: 100vh;
    width: 100vw;
    padding:19px;
}
.languge{
    margin-right:52px;
}

.footerBG {
    bottom: -30%;
    height: 50%;}
    .modal.show .modal-dialog{
      width:100%;
    }
.searchBox {
    width:100%;
    margin-top:20px;
}
.counterBox{
    padding:30px 96px;
    text-align: center;
}
.infoBox {
    margin-top:50px;
}
.TopPricingBox{
    padding:20px;
}
.pricingImg{
    float:none !important;
    margin-top:50px;
    width:100%;
}
.pricingText{
    float:none !important
}
.pricingBox {
    margin:20px 0;
    height: auto;
}
}
@media(min-width:767px) and (max-width:1024px){

    body{
        font-size:14px;
    }
    .footerBG {
        bottom: -30%;
        height: 50%;}
}
@media(min-width:1024px) and (max-width:1200px){
    .main {
        padding: 146px 0 121px;
    }
}