@font-face {
    font-family: "Din-regular";
    src: url("../fonts/din-next-lt-w23-regular.ttf");
}
@font-face {
    font-family: "Din-bold";
    src: url("../fonts/din-bold.ttf");
}
@font-face {
    font-family: "Din-light";
    src: url("../fonts/din-next-lt-w23-light.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

body{background-color:#F4F7FC;font-family:"Din-regular"; font-size:14px; direction: rtl;
text-align: right;}

h1, h2, h3, h4, h5, h6{   font-family: "Din-bold"; line-height:1em}


em, i{font-style:italic}
strong, b{font-weight:bold}


a{text-decoration:none}
a:hover, a:focus{text-decoration:none}
a:hover, a:active{outline:none}


.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    color:#3F3E43;
    padding: 17 23px;
    transition:all .5s;
}
.navbar-brand{
    margin-left:70px;
    width:90px;
    padding:0;
}
img{
    width:100%
}
.navbar-expand-lg{
    padding:7px;
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#48C2C9;
    transition:all .5s;
}
.languge{
    font-size:.95em;
    color:#48C2C9;
    border:1px solid #48C2C9;
    width:76px;
    height:27px;
    margin-right:auto;
    transition: all .5s;
    border-radius: 3px;
    line-height: 16px;
}
.languge:hover{
    background-color: #48C2C9;
    color:white;
    transition:  all .5s;
}
header{
    height: 62px;
    background-color: white;
}
.main{
    padding:50px 0 80px;
}
.welcomeBox{
    background-color: white;
    padding:20px 76px;
    margin-bottom:16px;
    border-radius: 7px;;
}
.welcomeImg{
    width:30%;
    margin-left:35px;
}
.welcomeText h1{
font-size:1.7em;
color:#48C2C9;
margin-bottom:9px ;
margin-top:30px;
}
.welcomeText{
    font-size:1em;
    width:64%;
}
.welcomeText p{
    margin:0;
    color:#3F3E43;
}
.welcomeText span{
    color:#A5A5A5;
}
.servicesBox{
    text-align: center;
    padding:50px 25px;
    background-color: white;
    border-radius: 7px;
    height: 396px;
    transition: all .5s;;
cursor: pointer;
}
.servicesBox:hover{
    box-shadow:  2px 2px 10px rgba(0,0,0,.2);
    transition: all .5s;;
}
.serviceImg{
    max-width:92px;
    margin:auto;
    margin-bottom: 37px;
    height:92px;
}
.serviceTitle{
    font-size:1.71em;
    margin-bottom:20px;
}
.firstService{
    color:#80AAFF;
    
}
.servicesBox p{
    font-size:1em;
    color:#3F3E43;
}
.secondService{
    color:#FFCD34;
}
.thirdService{
    color:#07485E;
}
.subscribe{
    background-color: rgba(72, 194, 201, .08);
    padding:17px 0;
}
.form-control{
    border-radius: 7px;
    height:35px;  
}
.subscribe .form-control::placeholder{
    font-size:.9em;
    color:#F3F3F4
}
.form-control{
    border:1px solid #EEEEEE;
}
.form-control:focus{
    box-shadow:none;
    border-color:#EEEEEE
}
.subscribeBtn{
    position: absolute;
    border-radius: 7px;
    border-radius: 7px;
    height:35px;
    left:0;
    top:0;
    background-color: #48C2C9;
    width:76px;
    border:1px solid #48C2C9;
    color:white;
    transition: all .5s;;
}
.subscribeBtn:hover{
transition: all .5s;;
background-color: transparent;
color:#48C2C9
}
.subscribeForm {
    width:80%;
    position: relative;
    margin: auto;
}
.subscribeText{
    display: flex;
    justify-content: center;
}
.subscribe p{
    color:#48C2C9;
    font-size:1.2em;
    margin:0;
    display: flex;
justify-content: center;
vertical-align: middle;
align-self: center;
}
footer{
    padding:50px 0;
    position: relative;
    overflow: hidden;
}
form ,.form-group{
    margin: 0;;
}
.footerLogo{
    width:108px;
}
.footerBG {
    position: absolute;
    bottom:-30%;
    right:0;
    width: 100%;
    height: 100%;
}
.footerList li {
    margin-bottom: 29px;

}
.footerList li span{
    color:#707070;
    font-size:1.1em;
}
.footerList li i{
    color:#707070;
    margin-left:12px;
  display: inline-block;
}
.footerList h1{
    font-size: 1.1em;
    color:#48C2C9;
    margin:0;
    margin-bottom: 20px;
}
.footerList.linksMenu li {
    width:48%;
    display: inline-block;
}
.footerList.linksMenu li a{
font-size:1.1em;
color:#3F3E43;
margin-bottom: 24px;
transition: all .5s;

}
.footerList.linksMenu li a:hover{
     font-family: "Din-bold"; 
     transition: all .5s;
}
.copyRight{
    background-color: #48C2C9;
    padding:14px 0;
}
.copyRight p{
    font-family: "Din-light";;
    font-size:.9em;
    color:rgba(255,255,255,.6);
}
.socialIcons{
    float: left;
}
.socialIcons li{
    list-style-type: none;
    display: inline-block;
margin-left:27px;
}
.socialIcons li a{
color:rgba(255,255,255,.6); ;
font-size: 1.1em;;
}
.socialIcons li a:hover{
    color:rgba(255,255,255,1); 
}
.modal-title {
    font-size:1.2em;
    width:100%
}
.modal-header{
    padding:0 15px;
    justify-content: center;
    margin-bottom: 14px;
}
.modal.show {
    display: flex !important;
}
.modal.show .modal-dialog{
    vertical-align: middle;
    align-items: center;
    align-self: center;
    display: flex;
    width: 30%;
}
.modal-content{
    padding: 11px 16px;
    border-radius: 7px;;
}
.modal-body{
    padding:0;
    padding-bottom: 20px;;
}
.modalForm label{
    display: block;
    font-size: .9em;
    color:#3F3E43;
    margin-bottom:6px;
}
.modalForm .form-group{
    margin-bottom: 14px;
    position: relative;
}
.modalForm .form-control{
    height: 45px;
    color:#48C2C9;
    font-size:.9em;
    border-radius: 5px;;
}
.modalForm .creditGroup .form-control{
    padding-right:40px;

}
.modalForm .form-control::placeholder,.cardinput .credit-card-input::placeholder{
    font-size: .9em;
    color:#A3A3A3;;
}
.modalForm .form-group i{
    position: absolute;
    color:#A3A3A3;
    font-size: 1.5em;
    top: 11px;
    right: 17px;
}
.modalBtn{
    width:160px;
    margin:auto;
    margin-top:35px;
    height: 45px;
    display: block;
    color:white;
    font-size: 1.2em;
    border:1px solid #48C2C9;
    background-color: #48C2C9;
 transition: all .5s;;
}
.modalBtn:hover{
background-color: transparent;
color:#48C2C9;
transition: all .5s;;
}
.modalMiniFormgroup{
        width:30%;
        display: inline-block;
}
.marginformgroup{
    margin-left:16px;
}
.modalForm  select.form-control{
    color:#A3A3A3;
   
}
.modalForm  select.form-control:before{
    position: absolute;
    content:"\f0dd";
    font-family:"Font Awesome 5 Brands";
    color:#A3A3A3;
    left:0;
    bottom:50%;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
  
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    right: 0;
    width:100%;
    left:0;
    transition: all .5s;;
    animation:sticky;
}
.navbar-toggler{
    border-radius: 3px;
    width: 35px;
    height: 27px;
    position: relative;
    padding:3px;
    border:1px solid #48C2C9
}
.navbar-toggle i{
content:"";
background-color: #48C2C9;
display: block;
margin:auto;
margin-bottom: 3px;
width:97%;
height: 2px;
}
.navbar-toggler-icon{
width:97%;
height:auto;
}
.navbar-toggle i:last-child{
    margin-bottom: 0;
}
.modalForm label.cardinput{
    position: relative;
    margin-right: 0.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateX( 0 );
    -ms-transform: translateX( 0 );
    transform: translateX( 0 );
    width:68%;
}
.credit-form-control{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    
}
.cardinput .credit-card-input {
    border: 0px;
    position: absolute;
    width: 100%;
    border:0;
    color:#48C2C9
}
.cardIcon{
    width:20px;
}
.cardIcon svg{
    width:100%;
}
.credit-card-input:focus-visible,.credit-card-input:focus{
    border:0;
    box-shadow: none;
    outline: 0;
}
.modalForm .credit-form-control label{
    margin-bottom:  0;
}
.cardinput::after {
    content: attr(data-max);
    visibility: hidden;
    height: 0;
}
.modalForm label.cardInfo{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateX( 4rem );
    -ms-transform: translateX( 4rem );
    transform: translateX( 4rem );
    width:10%;
}
.cardInfo .credit-card-input {
    border: 0px;
    position: absolute;
    width: 100%;
    border: 0;
    background-color: transparent;
}
.cardInfo::after,.credit-card-input:after {
    content: attr(data-max);
    visibility: hidden;
    height: 0;
}
.progress__bar{
    background-color: #28a745;
    transition: all .5s;
    height: 30px;
    -webkit-animation:progress-bar-stripes 1s linear infinite;animation:progress-bar-stripes 1s linear infinite;
        background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size:1rem 1rem}

.progress_streamtext:after{
    display: none;
}
.progress{
    height: 30px;
}

.mobileLang{
    width: 40px;;
    padding:5px;
}
#v-pills-tab{
background-color: white;
padding:15px 0;
padding-right:15px;
border-radius: 7px;
height:606px;
}
#v-pills-tab .nav-link{
    font-size:1em;
    color:#3F3E43;
    padding:9px 0;
    
    width:100%;
    position: relative;
    background-color: transparent;
}
#v-pills-tab .nav-link.active{
    color:#48C2C9;
    font-family: "Din-bold";
}
#v-pills-tab .nav-link:after{
   position: absolute;
   content:"";
background-color: #48C2C9;
border-radius: 7px 0 0 7px;
width:6px;
height:100%;
left:0;
top:0;
transition: all .5s;
display: none;;
}
#v-pills-tab .nav-link.active:after{
    display: block;
    transition: all .5s;;
}
.tabTitle{
    font-size:2.14em;
    font-family: "Din-bold";
    margin-top:5px;
}
.tabHeader{
    margin-top:18px;
    margin-bottom: 25px;
}
.searchBox{
    width:54%;
}
.searchForm{
    height:45px;
    width:100%;
    position: relative;
}
.searchForm .form-control{
    width:100%;
    height:45px;
    background-color: rgba(72, 194, 201, .13);
    border-radius: 7px;;
    color:white;
}
.searchForm .form-control::placeholder{
    font-size:.9em;
    color:#48C2C9;
    opacity: .5;;
}
.searchBtn{
position: absolute;
left:0;
top:0;
border-radius: 7px;
width:76px;
height: 100%;
background-color: #48C2C9;
border:1px solid #48C2C9
}
.searchBtn:hover{
    background-color: transparent;
    transition: all .5s;;
}
.searchBtn svg path{
    transition: all .5s;;

}
.searchBtn:hover svg path{
  stroke:#48C2C9;
  transition: all .5s;;
}
.searcIcon{
    width:22px;
}
.counterBox{
height:98px;
background-color: white;
border-radius: 7px;
padding:30px 11px;
margin-bottom: 16px;
}
.counterIcon{
    float:right;
    margin-left:13px;
    max-width: 40px;
}
.counterDetails{
    width:60%;
    float:right;
}
.counterDetails p{
    font-size:.8em;
    color:#A5A5A5;
    margin:0;
}
.counterDetails .countNum{
    font-size:1.4em;
    color:#3F3E43;
    margin:0
}
.progressBox,.chartBox{
    background-color: white;
    border-radius: 7px;
    padding:12px 14px;
    height:194px;
    margin-bottom: 16px;
}
.progTitle{
    font-size:1em;
    color:#3F3E43;
    margin-bottom: 15px;;
}
.chartBox{
    margin-bottom: 0;
    padding:10px;
}
.infoBox{
    background-color: white;
    border-radius: 7px;
    padding:16px;
    height:519px;
}
.infoHeader{
    margin-bottom: 20px;
}
svg{
    width:100%;
}
.infoSettings{
    width:20px;
  
    display: block;
  
}
.user-header-menu li{
    float:right;
    margin-left:33px; 
}
.user-header-menu li:last-child{
    margin-left:0
}
.profilInfoImg{
    width:22px;
    height:22px;
    overflow: hidden;
    border-radius:50%;;
}
.dropdown-toggle::after{
    border:0;
    content:"\f078";
    font-family:"Font Awesome";
    left:0;
    top:0;
    margin:0;
    font-size: 1em;
    color:#A5A5A5;
    
}
.profInfoImg{
    width:76px;
    height:76px;
    border-radius:50%;
    margin:auto;
    margin-bottom: 22px;
}
.profInfoDetails h4{
    font-size:1.1em;
    color:#48C2C9;
    margin:0;
}
.profInfoDetails p{
    font-size:.9em;
    color:#A5A5A5;
    margin:0
}
.profInfoDetails{
    padding-bottom:23px;
    border-bottom:1px solid #F1F1F1; 
    margin-bottom: 13px;;
}
.reminder h4{
    font-size:.9em;
    color:#3F3E43;
    float:right;
    margin-bottom:16px;
}
.remIcon{
    width:10px;
    float:left;
    display: block;
}
.notificationIcon{
    width:45px;
    height:45px;
    border-radius: 7px;
    float:right;
    margin-left:10px;
    display: flex;
    justify-content: center;
}

.firstIcon{
    background-color: #E4E3FF;;
}
.notifiIcon{
    width:17px;
    margin:auto;
    display: flex;
    vertical-align: middle;
}
.notifyDetails{
    float:right;
    width:75%;
}
.notifyDetails p{
    font-size:.85em;
    color:#3F3E43;
    margin:0;
}
.notifyDetails span{
    font-size:.85em;
    color:#A5A5A5;
}
.notifications-menu li{
margin-bottom: 16px;
}
.secondIcon{
    background-color: #FFF0C7;;
}
.thirdIcon{
    background-color: #FCEBEA;;
}
.fourthIcon{
    background-color: #D3F6EA;
}
.firstIcon svg path{
    fill:#586EFE
}
.secondIcon svg path{
    fill:#ffcb3a;
}
.thirdIcon svg path{
    fill:#FEAC91;
}
.fourthIcon svg path{
    fill:#94E1C7;
}
#progressparCont{
    width:100%;
    height: 130px;
}
#progressparCont svg {
    width: 100%;
    height: 130px;
    stroke-linecap: round;
}
.progressbar-text{
    top:67% !important;
}
#myChart{
    width: 100%;
    height: 140px !important;
}
#lineChart{
    width: 100%;
    height: 152px !important;
}
.chartBox .progTitle{
    float:right;
    color:#3F3E43;
    font-size:.9em
}
.dayOption{
    float:left;
    border:0;

}
.dropdown-menu.show{
    top: -14px !important;
    right: -150px !important;
}
.dropdown-item{
    font-size: 1em;
    color:#707070;
}
/*Pricing Page*/
.TopPricingBox{
background-color:white;
border-radius: 7px;
padding:28px 90px;
margin-bottom: 50px;;
}
.pricingImg{
    width:290px;
}
.pricingText p{
    font-family: "Din-bold";  
}
.pricingBox{
    padding:19px 16px;
    border-radius: 7px;
    height:850px;
}
.pricingBox.whiteBG{
    background-color: white;;
     transition :all .3s;
}.pricingBox .check{
    color:#00B731;
    font-size:20px;
     transition :all .3s;
}
.pricingBox.whiteBG:hover{
    background-color: #48C2C9;
     transition :all .3s;
}
.pricingBox.whiteBG:hover .check{
    color:white;
     transition :all .3s;
}
.priceBtn{
    width:100%;
    height:34px;
    margin-top:65;
    border:1px solid #A5A5A5;
    color:#A5A5A5;
    font-size:.9em;
     transition :all .3s;
}
.pricingBox.whiteBG:hover .priceBtn{
    background-color:white;
    border-color:white;
    color:#3F3E43;
     transition :all .3s;
}
.pricingList li{
    border-bottom:1px solid #DBDBDB;
    padding:26px 0;
}
.pricingList li:last-child{
    border-bottom: 0;
}
.pricingBox.whiteBG:hover .pricingList li{
    color:white;
} 
.pricingList li:first-child{
    padding-top:0;
}
.pricingBox.whiteBG:hover .pricingList li{
    border-color:#69DAE1;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .titlePricingList h6{

    color:white;
}
.titlePricingList h6{
    color:#3F3E43;
    font-size:1.2em;
    margin-bottom:10px;
     transition :all .3s;
}
.titlePricingList  span{
color:#a5a5a5;
font-size:.8em;
 transition :all .3s;
}
.priceSction span{
font-size:1em;
color:#A5A5A5;
display: block;
margin-bottom: 5px;;
 transition :all .3s;
}
.priceSction{
    height:220px;
}
.priceSction h6{
    font-size:1.07em;
  color:#48C2C9;
  margin:5px 0
}
.pricingBox.whiteBG:hover  .priceSction span{
    color:white;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .priceSction h6{
    color:white;
     transition :all .3s;
}
.pricingBox.whiteBG:hover  .titlePricingList  span{
    color: white;
}
.titlePricingList{
    height:90px;
}
.pricingBox.titlePricingBox .priceSction{
    padding-top:60px
}
.pricingBox.titlePricingBox .priceSction,.pricingBox:first-child .titlePricingList {
    font-size: 1.2em;
    color:#A5A5A5;
}
.pricingBox.titlePricingBox  li{
    font-size: 1.2em;
    color:#3F3E43;
}
.dash{
    width:15px;
    height:3px;
    background-color: #A5A5A5;
    border-radius: 7px;
    border:0;
}
.pricingBox.whiteBG:hover .dash{
    background-color: white;;
}

@media (min-width:300px) and (max-width:800px){
    body{
        font-size:14px;
    }
    .modalMiniFormgroup{
        width:100%;
        display: block;
}
.servicesBox{
margin-bottom: 20px;;
}
.subscribe p{
    margin-bottom: 20px;;
}
.footerList{
    margin-top:20px;
}
.main{
    padding:50px 0
}
.navbar-collapse{
    background-color: white;
    z-index: 999;
}
.subscribeText{
    display: block;
}
.navbar-toggle{
    position: absolute;
    left:5%;
}
.navbar-collapse.collapse{
    background-color: rgba(255,255,255,.97);
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    z-index: 999999999999;
    height: 100vh;
    width: 100vw;
    padding:19px;
}
.languge{
    margin-left:52px;
}
.welcomeBox{
    padding:10px;

}
.welcomeImg{
    width: 70%;
    margin:auto;
    float: none !important;
}
.modalForm label.cardinput{
    width:60%;
}
.socialIcons{
    float: none;
    margin-top:20px;
}
.welcomeText{
    width:100%;
}
.footerBG {
    bottom: -30%;
    height: 50%;}
    .modal.show .modal-dialog{
      width:100%;
    }
.searchBox {
    width:100%;
    margin-top:20px;
}
.counterBox{
    padding:30px 96px;
    text-align: center;
}
.infoBox {
    margin-top:50px;
}
.TopPricingBox{
    padding:20px;
}
.pricingImg{
    float:none !important;
    margin-top:50px;
    width:100%;
}
.pricingText{
    float:none !important
}
.pricingBox {
    margin:20px 0;
    height: auto;
}
}
@media(min-width:767px) and (max-width:1024px){
    .welcomeImg{
        width: 30%;
    }
    .welcomeText {
        width:64%;
    }
    body{
        font-size:14px;
    }
    .footerBG {
        bottom: -30%;
        height: 50%;}
}
@media(min-width:1024px) and (max-width:1200px){
    .main {
        padding: 146px 0 121px;
    }
}